$black1: #2f302c;
$black2: #6a6a6a;
$black3: #7e7f7c;
$black4: #aaaaaa;
$black5: #d4d4d4;
$black6: #e7e7e7;
$black7: #f6f6f6;
$black8: #ffffff;
$white1: #ffffff;
$white2: #f6f6f6;
$white3: #e7e7e7;
$white4: #d4d4d4;
$white5: #aaaaaa;
$white6: #7e7f7c;
$white7: #6a6a6a;
$white8: #2f302c;
$red6: #fadede;
$red5: #f0adad;
$red4: #eb9494;
$red3: #e26363;
$red2: #d73131;
$red1: #ce0000;
$cyan6: #d5d6f5;
$cyan5: #a9abe6;
$cyan4: #9396df;
$cyan3: #676bd0;
$cyan2: #3b40c1;
$cyan1: #0e15b2;
$green5: #001105;
$green4: #004414;
$green3: #01671d;
$green2: #008827;
$green1: #01ab30;
$bg1: #ffffff;
